# To run, please do either docker compose up -d (for docker's own version) or docker-compose up -d (for your OSes package managers verison)
services:
  poke:
    image: codeberg.org/poketube/poke:amd64
    # image: codeberg.org/poketube/poke:arm64 # Works with ARM64/v8, not ARM64/v7
    restart: unless-stopped
    volumes:
      - ./config.json:/poketube/config.json
    ports:
      - "6003:6003"