server {
    listen 80;
    server_name www.SERVERNAME;
    return 301 $scheme://SERVERNAME$request_uri;
}

server {
    listen 80;
    server_name SERVERNAME;
    
    location / {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-NginX-Proxy true;
        proxy_pass http://localhost:3000;
        proxy_ssl_session_reuse off;
        proxy_set_header Host $http_host;
    }
}