<!--
    This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-2022 POKETUBE (https://github.com/iamashley0/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
--><!DOCTYPE html>
<html>

<head>
  <title>Error 404 (Not Found)!!1</title>
<link href=/css/app-cdn.min.css rel=stylesheet>
<link href=/css/app.main.css rel=stylesheet>  <style nonce="IJD3y0awTwA2dd0pWOP+ZQ">
            html{height:100%;margin:0;padding:0;border:0;font-size:100%;background:transparent}body{margin:0;padding:0;border:0;font:12px "YouTube Noto",Roboto,arial,sans-serif;background:black;height:100%}#error-page{text-align:center;height:100%;white-space:nowrap;word-break:normal}#error-page-content{vertical-align:middle;display:inline-block}#error-page-hh-illustration{margin-bottom:10px}#error-page-vertical-align{height:100%;display:inline-block;vertical-align:middle}p{width:500px;margin:auto;color:#fff;font-size:16px;white-space:normal}a{color:#167ac6;cursor:pointer;text-decoration:none}          @font-face {
        font-family: 'Ginto Nord';
        font-weight: 800;
        src:url('https://cdn.statically.io/gh/brecert/discord-quote-generator/main/Ginto-Nord-800.woff') format("woff");
      }
    </style>
    <base target="_top">
   <link href=https://poketube.fun/css/yt-ukraine.svg rel=icon>
</head>
<body>
    <div id="error-page">
        <div id="error-page-content"><img id="error-page-hh-illustration" src="https://twemoji.maxcdn.com/v/latest/svg/1f5ff.svg" alt="🗿" style="width: 12pc;">
                  <h1 style="color:#fff;font-family:'Ginto Nord',sans-serif;font-weight:900;white-space:yes;font-style: italic;font-size: 45px;" align="center">
404
          </h1>
          <p style="color:#fff;font-family:'Ginto Nord',sans-serif;font-weight:900;white-space:yes;font-style: italic;">
Literally 1984          </p><br>
                    <p style="color:#fff;font-family:'Ginto Nord',sans-serif;font-weight:900;white-space:yes;font-style: bold;">
                      U could search for an another thing tho lol
          </p>
             <style nonce="IJD3y0awTwA2dd0pWOP+ZQ">
                #yt-masthead{margin:15px auto;width:440px;margin-top:25px}#logo-container{margin-right:5px;float:left;cursor:pointer;text-decoration:none}.logo{background:no-repeat url("//www.gstatic.com/youtube/img/branding/youtubelogo/1x/youtubelogo_30.png");width:125px;height:30px;cursor:pointer;display:inline-block}#masthead-search{display:flex;margin-top:3px;max-width:650px;overflow:hidden;padding:0;position:relative}.search-button{border-left:0;-moz-border-radius-topleft:0;border-top-left-radius:0;-moz-border-radius-bottomleft:0;border-bottom-left-radius:0;float:right;height:29px;padding:0;border:solid 1px transparent;border-color:#ffff;background:#999;;color:#333;cursor:pointer}.search-button:hover{border-color:#c6c6c6;background:#f0f0f0;box-shadow:0 1px 0 rgba(0,0,0,0.0)}.search-button-content{border:none;display:block;opacity:.6;padding:0;text-indent:-10000px;background:no-repeat url(//www.gstatic.com/youtube/src/web/htdocs/img/search.png);background-size:auto;width:15px;height:15px;box-shadow:none;margin:0 25px}#masthead-search-terms-border{flex:1 1 auto;border:1px solid #ccc;box-shadow:inset 0 1px 2px #eee;background-color:#fff;font-size:14px;height:29px;line-height:30px;margin:0 0 2px;overflow:hidden;position:relative;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition:border-color .2s ease;transition:border-color .2s ease}#masthead-search-terms{background:#2c2f33;border:0;font-size:16px;height:100%;left:0;margin:0;outline:none;padding:2px 6px;position:absolute;width:100%;-moz-box-sizing:border-box;box-sizing:border-box}
            </style>
            <div id="yt-masthead"> 
                <form id="masthead-search" class="search-form" action="/api/search">
                    <div id="masthead-search-terms-border" dir="ltr"><input id="masthead-search-terms" style=color:#fff;font-family:Roboto,sans-serif autocomplete="off" name="query" value="" type="text" placeholder="<%-random%> " title="Search" aria-label="Search"></div><button class="search-button" type="submit" dir="ltr"><span class="search-button-content">Search</span></button></form>
            </div>
        
           <br>
            <p>
              we dont track your searches btw
          </p>
        </div><span id="error-page-vertical-align"></span></div>
</body>
</html>
