<!--
    This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-2022 POKETUBE (https://codeberg.org/Ashley/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
-->
<!DOCTYPE html><html>
<head>
  <title>1984!!1 - PokeTube</title>
   <link href=/css/app-cdn.min.css rel=stylesheet>
  <link href=/css/app.main.css rel=stylesheet>
  <link href="/css/watch.main.css?v=56" rel=stylesheet>
  <link href="/css/watch-util.css" rel=stylesheet>
  <link href="https://fonts.poketube.fun/css/fonts.css" rel=stylesheet>
  <link href="/css/watch-navbar.css?v=56" rel=stylesheet>
  <link href=https://p.poketube.fun/https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css rel=stylesheet>
     <base target="_top">
   <link href=https://poketube.fun/css/yt-ukraine.svg rel=icon>
<style>
  body{
    background:#111;
      margin: auto;
    transform: translateY(13em)
  }
  p,a,h1{
    text-align:center;
    color:#fff;
  }
  nav,error-page,div{
    justify-content: center;
    background: #111
  }
  </style>
</head>
<body>
    <div id="error-page">
      
      
        <div id="error-page-content" align="center">
       
          
                  <h1 style="color:#fff;font-family:'PokeTube Flex',sans-serif;font-weight:900;white-space:yes;font-style: italic;font-size: 45px;" align="center">
                    404!!1 
          </h1>
           <h3>
             Very <a href="https://poketube.fun/watch?v=Yw8mcm3k1AQ" style="color:#fff">1984</a> Innit? I dont think that this webpage exist :p u can search for something else~ 
          </h3>
        </div>
      
<nav>

       <div class="middle">

         
          <form action=/search><input class=search-bar placeholder="Search owo " autocomplete="on" id=fname name=query style="color:#fff;font-family:Inter,sans-serif;border-radius: 8px;">
          <button class="btn btn-success" type=submit><i class="fa-light fa-search"></i></button>
             
         </form>
            </div></nav>
     
        </div>
   
 <img src="https://t.poketube.fun/t/rep.gif?from=param" style="width: 0;visibility: hidden;" id="404_page">

</body>
</html>