<!--
    This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-2022 POKETUBE (https://github.com/iamashley0/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
-->
<!DOCTYPE html><head>
    <title>Poketube - Proxys</title>
   <link href=https://poketube.fun/css/yt-ukraine.svg rel=icon>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&amp;display=swap" rel="stylesheet"> 
    <meta content=website property=og:type>
    <meta content="Poketube" property=og:title>
    <meta content="omg poketube proxys??" property=twitter:description>
    <meta content="https://cdn.glitch.com/ef5d02b7-c958-475a-b82d-d263d37e7ec7/poketubedomains.png" property=og:image>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Sigmar+One&display=swap" rel=stylesheet>    <meta content=summary_large_image name=twitter:card>
    <meta content=@PoketaleBot name=twitter:site>
    <meta content=@PoketaleBot name=twitter:creator>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
   <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jun 2002 11:12:01 GMT">
  <link href=https://cdn.poketalebot.com/404/v2.css rel=stylesheet>
    <link href=/css/app.main.css rel=stylesheet>
 </head>
<body>
     <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Sigmar+One&display=swap" rel=stylesheet>
    <link href=https://pro.fontawesome.com/releases/v5.15.3/css/all.css rel=stylesheet>
     <nav>
            <div class=left><a class="class" href="https://stopwarukraine.com/" style=font-family:Inter,sans-serif;color:#fff><span><i class="fa-youtube fab" style=color:#fff></i></span><span style="text-decoration:inherit;background:linear-gradient(to right, rgba(255,215,0,1) 50%, rgba(0,87,184,1) 50%);-webkit-text-fill-color:transparent;-webkit-background-clip:text;">PokeTube</span> 🇺🇦 </a></div>
            <div class=middle>
                <form action=/api/search><input class=search-bar id=fname name=query style=color:#fff;font-family:Roboto,sans-serif> <button class="btn btn-success" type=submit><i class="fas fa-search"></i></button></form>
            </div>
 
        </nav>
<center><br><br><br><br><br><br><br><b><h1 style="font-family: 'Inter', sans-serif;">
POKETUBE PUBLIC ISTANCES
  </h1></b>
  <p style="font-family: 'Inter', sans-serif;">
    These are istances/domains poketube is on! you can self host poketube is source code or make your own istance ^_^
  </p>  <p style="font-family: 'Inter', sans-serif;color:red;">
    please note that poketube uses LightTube API on backend (see:<a href="https://github.com/iamashley0/poketube/blob/main/src/fetcher.js">fetcher.js</a>)and ratelimits may occur
    </p>
<table>
  <tr>
    <th>Domains</th>
    <th>Active</th>
    <th>Vanilla?</th>
  </tr>
     <tr>
    <td>watch.poketalebot.com</td>
    <td>Yes</td>
    <td>yes</td>
  </tr>
  <tr>
    <td>poketube.fun</td>
    <td>Yes</td>
    <td>yes</td>
  </tr>
  <tr>
    <td>poketube.xyz</td>
    <td>Yes</td>
    <td>yes</td>
  </tr>
   <tr>
    <td>poketube.online</td>
    <td>Yes</td>
    <td>yes</td>
  </tr>
   <tr>
    <td>poketube.site</td>
    <td>Yes</td>
    <td>yes</td>
  </tr>
</table>  <p>
   </p>
  <a href="https://github.com/iamashley0/poketube/blob/main/html/domains.ejs">See the source</a>
  
 <style>table, th, td {
  border:1px solid gray;
  color:#fff
}</style></center></body>
