 <!--
    This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-2023 POKETUBE (https://github.com/iamashley0/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
-->

  
<!DOCTYPE html><html lang="en">
<head>
    <title>PokeTube - Be Anonymous!</title>
    <link href=/css/yt-ukraine.svg?v=6 rel=icon>
      <meta content="▶▶ PokeTube - Be Anonymous!" property=og:title>
      <meta content="Watch Silly videos while being anonymous on poketube!" property=twitter:description>
       <meta content="https://cdn.glitch.global/d68d17bb-f2c0-4bc3-993f-50902734f652/drawing.png" property="og:image"  />
    <meta content="summary_large_image" name="twitter:card" />
 
<link href=/css/app-cdn.min.css rel=stylesheet>
<link href=/css/app-cdn.min.css rel=stylesheet>
<link href=/css/app.main.css rel=stylesheet>
<link href=/css/search.main.css rel=stylesheet> 
<meta content="#f97794" name="theme-color" />
 <link href=/css/watch.main.css rel=stylesheet>
  </head>

 <body>
     
     <section class=youtube-video>
      
<style>
         @import url("https://p.poketube.fun/https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css");
  * {
    font-family:ubuntu, sans-serif
  }
   a.class:hover {
    text-decoration:underline;
    font-weight:bold
}
  summary{
    color:gray;
}
summary:hover{
    color:white;
}
</style>
  <!-- WIGGLE WIGGLE WIGGLE -->
  <style>
    body{
        overflow: hidden; /* Hide scrollbar */

        color:#111111
    }
    
   .animated {
            -webkit-animation-duration: 10s; 
            animation-duration: 10s; 
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both; 
            animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
            -o-animation-iteration-count: infinite;
         }
         
         @-webkit-keyframes wiggle { 
            0% { -webkit-transform: skewX(9deg); }
            10% { -webkit-transform: skewX(-8deg); }
            20% { -webkit-transform: skewX(7deg); }
            30% { -webkit-transform: skewX(-6deg); }
            40% { -webkit-transform: skewX(5deg); } 
            50% { -webkit-transform: skewX(-4deg); } 
            60% { -webkit-transform: skewX(3deg); }
            70% { -webkit-transform: skewX(-2deg); } 
            80% { -webkit-transform: skewX(1deg); } 
            90% { -webkit-transform: skewX(0deg); }
            100% { -webkit-transform: skewX(0deg); } 
         }
         
         @keyframes wiggle { 
            0% { transform: skewX(9deg); } 
            10% { transform: skewX(-8deg); } 
            20% { transform: skewX(7deg); } 
            30% { transform: skewX(-6deg); } 
            40% { transform: skewX(5deg); } 
            50% { transform: skewX(-4deg); } 
            60% { transform: skewX(3deg); } 
            70% { transform: skewX(-2deg); } 
            80% { transform: skewX(1deg); } 
            90% { transform: skewX(0deg); } 
            100% { transform: skewX(0deg); } 
         }
         
         .wiggle { 
            -webkit-animation-name: wiggle;
            animation-name: wiggle; 
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; 
         }
         
         .animated.wiggle { 
            -webkit-animation-duration: 0.75s; 
            animation-duration: 0.75s;
         }
    
    :root {
    --text-primary: #fff;
    --text-secondary: #fff;
    --text-link: #3ea6ff;

    --app-background: #1a1a1a;
    --context-menu-background: #333;
    --border-color: #444;
    --item-hover-background: #373737;
    --item-active-background: #383838;

    --top-bar-background: #202020;
    --guide-background: #212121;

    --thumbnail-background: #252525;

    --channel-info-background: #181818;
    --channel-contents-background: #0f0f0f;
}
          @font-face {
        font-family: 'Ginto Nord';
        font-weight: 800;
        src:url('https://cdn.statically.io/gh/brecert/discord-quote-generator/main/Ginto-Nord-800.woff') format("woff");
      }

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
  </style>  
                                                          
 <% if(isOldWindows) { %>
<style>
  .heading {
    font-family:"Ginto Nord" !important;
  }
  .btn-explore {
    font-family:"Inter" !important;
    width:165px !important;
  }
</style>
              
                                                      		 	               <% } %>   
       
       
       
         <script type="text/javascript">
<!--//--><![CDATA[//><!--
/**
 * @licstart The following is the entire license notice for the JavaScript
 * code in this page.
 *
 *  Copyright (C) 2021-2023 POKETUBE (https://github.com/iamashley0/poketube)
 *
 * The JavaScript code in this page is free software: you can redistribute
 * it and/or modify it under the terms of the GNU General Public License
 * (GNU GPL) as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.  The code is
 * distributed WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU GPL
 * for more details.
 *
 * As additional permission under GNU GPL version 3 section 7, you may
 * distribute non-source (e.g., minimized or compacted) forms of that code
 * without the copy of the GNU GPL normally required by section 4, provided
 * you include this license notice and a URL through which recipients can
 * access the Corresponding Source.
 *
 * @licend The above is the entire license notice for the JavaScript code
 * in this page.
 */

//--><!]]>
</script>
 <style> 
 
        .channel-info-container > img {
  width: 100%;
}
 
   .video-grid > .video {
   background-color: #181818;
border-radius: 8px;
   } 
 
section#landing-page {
    position: fixed;
    width: 100%;
    max-width: 90%;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 999;
   }
 


.content {
           border-radius: 26px;
          padding: 1em;
          margin: auto;
          display: flex;
         justify-content: center;
         align-items: center; 
          position: relative;
         top: 50%;
       transform: translateY(88%);
   }
   
      @media screen and (max-height: 	643px) {
  .content {
       transform: translateY(50%);
}  
}
   .content-inner{
     padding: 10px;
     color:#fff;
     position: relative;
     top: 50%;
     transform: translateY(50%);
   }

.heading {
color: #fff;
font-size: xxx-large;
font-family: 'PokeTube flex';
font-style:italic;
font-stretch: ultra-expanded;
font-weight: 1000;
text-align:center;
}
 

.product-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 11.5em;
  padding-bottom: 2em;
 }

.btn-explore {
  padding: 20px;
  display: flex;
  font-family: 'PokeTube flex';
  font-stretch: ultra-expanded;
  font-weight: 1000;
  margin-top: 20px !important;
  background-color: rgb(24, 26, 27);
  color: rgb(232, 230, 227);
  text-decoration-color: unset;
  border-radius: 6px;
  width: 186px;
  font-size: 20px;
  text-decoration: unset;
  margin: auto;
  margin-top: auto;
}
 
 
      .news {
  display: flex;
  justify-content: center;
  background: #111;
  width: 18em;
  margin: auto;
    margin-bottom: auto;
  border-radius: 3em;
  color: white;
  margin-bottom: -10em;
}


@media screen and (max-height: 	643px) {
  .wave {
  margin-top: 14em;
}  
}


@media screen and (min-height: 768px) {
  .wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: -7em;
  display: block;
}
}
   
   .news > * {
     color:#fff
   }

 .wttr {
display: none;
position: absolute;
z-index: 1;
align-content: center;
width: 232px;
margin-left: auto;
margin-right: auto;
 }
   
 

   .news > a {
     display: flex;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.2rem;
 font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
font-weight: 400;
 font-size: 16px;
line-height: 24px;
z-index: 10; /* Was 2 */"
   }
      </style>

       <div class="app" style="background:linear-gradient(135deg, #820622 10%, #4e2e82 100%, #725965 100%);height:100vh">      
        
     <nav>
             <div class="left">

              <a class="class" href="/143" style="font-family:Inter,sans-serif;color:#fff">  <img alt="poketube logo" style="transform: scale(1.3);width:8.5em;display: block;margin-left: auto;margin-right: auto;" src="/css/logo.svg?v=5"></a>
            </div>          

  
        <div class="middle">
<div class="search">
  
        <form  aria-label="search" action="/search"><input aria-label="search" class="search-bar" autocomplete="on" id="fname"  name="query"  style="color:#fff;font-family:Inter,sans-serif;border-radius: 2em;" data-ddg-inputtype="identities.firstName">
<button class="btn btn-success" aria-label="search button" type="submit" style="transform: translate(21em, -1.25em);"><i class="fa-light fa-search"></i></button>             
         </form>
          <img src="https://t.poketube.fun/t/rep.gif" style="border:0;width: 0;visibility: hidden;"> 

      </div>
       </div>
            <div class="right">
                   <div class="wttr">
                     <a  title="have feedback? go to https://codeberg.org/Ashley/poketube/issues/new. to disable go to /wtrdsble " style="visibility: visible;" href="https://wttr.in?r=poketube">
<img style="border-top-left-radius: 1px;pointer-events:none;margin-bottom: -4em;width: 232px;height: 126px;margin-left: -65px;border-top-right-radius: 0em;border-bottom-right-radius: 0em;border-bottom-left-radius: 11px;margin-top: -2px;" src="https://wttr.in/_0pq_transparency=200_lang=en.png">          </div></a>
              
              <a aria-label="domains" href="/domains"><i style="display: block;margin-left: auto;margin-right: auto;" class="fa-light fa-server"></i>  </a>
              <a aria-label="privacy policy" href="/privacy"><i class="fa-light fa-shield"></i></a>
              <a aria-label="upload video" href="/video/upload?from="><i class="fa-light fa-video"></i></a> 
              <a aria-label="pull requests" href="https://github.com/iamashley0/poketube/issues"><i class="fa-light fa-bug"></i></a>
            </div>
     
      </nav>
  
  
 <div class="channel-page">
          <div class="news"> 
                           <img alt="ukraine flag" src="/css/ua.svg" style="width: 1.2em;align-self: center;margin-right: 3px;">

   <a href="https://u24.gov.ua/">
Donate to Ukraine      </a>
            
              
    </div>

    <div class="content">

<div class="content-inner" style="padding: 10px;color:#fff;">
        <br>
        <h1 class="heading">Be Anonymous</h1>
    <div style="text-align: center;color: #fff;margin-top: 8px;">
      Be anonymous while watching epic videos and memes on poketube!</div>
        <a href="/discover" class="btn-explore">Discover Videos</a>
      </div>
      
    </div>
   
     
         
    <div class="wave">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0069af" fill-opacity="1" d="M0,64L26.7,69.3C53.3,75,107,85,160,101.3C213.3,117,267,139,320,128C373.3,117,427,75,480,58.7C533.3,43,587,53,640,85.3C693.3,117,747,171,800,186.7C853.3,203,907,181,960,165.3C1013.3,149,1067,139,1120,117.3C1173.3,96,1227,64,1280,53.3C1333.3,43,1387,53,1413,58.7L1440,64L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z"></path></svg>
         </div>
         
</div>
       <script>
if(localStorage.getItem("wttrdsbl") === "true") {
var k = ".wttr {display:flex !important; }; nav .right a { visibility: hidden }"
var h = "nav .right a { visibility: hidden }"

var head = document.head 
var style = document.createElement('style');

head.appendChild(style);

style.type = 'text/css';

if (style.styleSheet){
  // This is required for IE8 and below.
  style.styleSheet.cssText = k + h ;
} else {
  style.appendChild(document.createTextNode(k + h));
}
}

if(localStorage.getItem("wttrdsbl") === "false") {
 k = ".wttr {display:none !important; }; nav .right a { padding-left:1.5emvisibility:inherit;}"
var head = document.head 
var style = document.createElement('style');

head.appendChild(style);

style.type = 'text/css';

if (style.styleSheet){
  // This is required for IE8 and below.
  style.styleSheet.cssText = k;
} else {
  style.appendChild(document.createTextNode(k));
}
}
        
       </script>
 <script src="/css/custom-css.js"> </script>
 </body>
</html>   
  
