 <!--
    This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-2023 POKETUBE (https://codeberg.org/Ashley/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
-->

<!DOCTYPE html><html class="static">
<head>
      <title>Licenses - PokeTube</title>
      <link href=/css/yt-ukraine.svg?v=6 rel=icon>
      <link href=/css/app-cdn.min.css rel=stylesheet>
      <link href=/css/app.main.css?v=44600 rel=stylesheet>
      <link href="/css/watch.main.css?v=56" rel=stylesheet>
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Sigmar+One&display=swap" rel=stylesheet>
      <!-- fonts -->
      <style>
            @font-face {
        font-family: 'Ginto Nord';
        font-weight: 800;
        src:url('https://cdn.statically.io/gh/brecert/discord-quote-generator/main/Ginto-Nord-800.woff') format("woff");
      }
        img {
          float: right;
  margin: .3em 0 1em 2em;
}          :visited { color: #00c0ff }
     
a{
  color:#0ab7f0;
        }
 
      </style>
</head>
  
<body style="color:#fff">
  <div class="app">
    <h1 style="font-family: Inter;">
Lisance
    </h1>
   <p>All of the <b>source code</b> to PokeTube is available under licenses which are <a href="https://www.gnu.org/philosophy/free-sw.html">free</a> licenses. </p>

    <ul>
      <li><a href="#poketube">PokeTube Source code License (GPL)</a>
      <br><br>
      </li>
      <li><a href="#piwik">Piwik Source code License (GPLv3)</a>
      <br><br>
      </li>
    </ul>

  </div>
  
  <a name="poketube"></a>
 <h1 style="font-family: Inter;">
PokeTube
  </h1>
  <p>
     
    Poketube Source Code Form is subject to the terms of the GNU General Public License. <a href="https://codeberg.org/Ashley/poketube">See The Source code</a> Or <a href="https://codeberg.org/Ashley/poketube/archive/main.tar.gz">Download the source code</a>.
  </p>  
 <div style="text-align: left;" >
   <pre style="font-family: MonoSpace;">
   
    Copyright (C) 2021-2023 POKETUBE (https://codeberg.org/Ashley/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
    </pre>
  </div>
<hr>
  <a name="piwik"></a>
 <h1 style="font-family: Inter;">
    Piwik 
  </h1>
  <p>We use piwik, an free web analytics tool. <a href="https://codeberg.org/Ashley/poketube/src/branch/main/t/piwik">Source Code </a></p>
  <pre style="font-family: MonoSpace">
   Copyright (C) 2007-2022 Matomo.org

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
  </pre>
  </body>
</html>