  <!--
    This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-2024 poke (https://codeberg.org/Ashley/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
-->
     <% if (!isMobile) { %> 

<!DOCTYPE html><html class="background"><head>
    <title>Poke | Legal mumbo jumbo</title>
<meta name="viewport" content="width=device-width,initial-scale=1">

<link href="/css/app-cdn.min.css" rel="stylesheet">
  <link href="/css/app-cdn.min.css" rel="stylesheet">
<link href="/css/app.main.css?v=44600" rel="stylesheet">
<link href="/css/search.main.css?v=57" rel="stylesheet">
      <meta content="#f97794" name="theme-color">
 <link href="/css/watch.main.css" rel="stylesheet">
  
   <link href="https://poketube.fun/css/yt-ukraine.svg" rel="icon">
    <meta content="website" property="og:type">
    <meta content="PokeTube - Legal thingy to put you into sleep" property="og:title">
    <meta content="This is the PokeTube Privacy Policy meta description. Wow, helpful meta description PokeTube. Thanks!" property="twitter:description">
       <meta content="https://cdn.glitch.global/d68d17bb-f2c0-4bc3-993f-50902734f652/aa70111e-5bcd-4379-8b23-332a33012b78.image.png?v=1701898829884" property="og:image"  />
  <meta content="summary_large_image" name="twitter:card">

 <style>
 @font-face {
     font-family: 'Ginto Nord';
     font-weight: 800;
     src:url('https://p.poketube.fun/https://cdn.statically.io/gh/brecert/discord-quote-generator/main/Ginto-Nord-800.woff') format("woff");
}
 h3, h2 {
     font-family: 'Ginto Nord';
}
 :visited {
     color: #00c0ff 
}
 .background{
    background: linear-gradient(189deg, #4e2e82 100%, #725965 100%);
    height: 550vh;
}
 .hd-lg {
     color: #fff;
     font-family: "PokeTube flex" !important;
     font-stretch: extra-expanded;
     font-weight: 1000;
}
 .hd-md {
     color: #fff;
     font-family: "PokeTube flex" !important;
     font-stretch: extra-expanded;
     font-weight: 1000;
}
 a{
     color:#0ab7f0;
}

</style>
 
  </head>
 <body>
     
     <section class="youtube-video" style="">
      
<style>
         @import url("https://p.poketube.fun/https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css");
  * {
    font-family:ubuntu, sans-serif
  }
   a.class:hover {
    text-decoration:underline;
    font-weight:bold
}
  summary{
    color:gray;
}
summary:hover{
    color:white;
}
section p {
 font-family:ubuntu;
    }
</style>
  <!-- WIGGLE WIGGLE WIGGLE -->
  <style>
    body{
      
        color:#111111
    }
    
   .animated {
            -webkit-animation-duration: 10s; 
            animation-duration: 10s; 
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both; 
            animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
            -o-animation-iteration-count: infinite;
         }
         
         @-webkit-keyframes wiggle { 
            0% { -webkit-transform: skewX(9deg); }
            10% { -webkit-transform: skewX(-8deg); }
            20% { -webkit-transform: skewX(7deg); }
            30% { -webkit-transform: skewX(-6deg); }
            40% { -webkit-transform: skewX(5deg); } 
            50% { -webkit-transform: skewX(-4deg); } 
            60% { -webkit-transform: skewX(3deg); }
            70% { -webkit-transform: skewX(-2deg); } 
            80% { -webkit-transform: skewX(1deg); } 
            90% { -webkit-transform: skewX(0deg); }
            100% { -webkit-transform: skewX(0deg); } 
         }
         
         @keyframes wiggle { 
            0% { transform: skewX(9deg); } 
            10% { transform: skewX(-8deg); } 
            20% { transform: skewX(7deg); } 
            30% { transform: skewX(-6deg); } 
            40% { transform: skewX(5deg); } 
            50% { transform: skewX(-4deg); } 
            60% { transform: skewX(3deg); } 
            70% { transform: skewX(-2deg); } 
            80% { transform: skewX(1deg); } 
            90% { transform: skewX(0deg); } 
            100% { transform: skewX(0deg); } 
         }
         
         .wiggle { 
            -webkit-animation-name: wiggle;
            animation-name: wiggle; 
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; 
         }
         
         .animated.wiggle { 
            -webkit-animation-duration: 0.75s; 
            animation-duration: 0.75s;
         }
    
    :root {
    --text-primary: #fff;
    --text-secondary: #fff;
    --text-link: #3ea6ff;

    --app-background: #1a1a1a;
    --context-menu-background: #333;
    --border-color: #444;
    --item-hover-background: #373737;
    --item-active-background: #383838;

    --top-bar-background: #202020;
    --guide-background: #212121;

    --thumbnail-background: #252525;

    --channel-info-background: #181818;
    --channel-contents-background: #0f0f0f;
}
          @font-face {
        font-family: 'Ginto Nord';
        font-weight: 800;
        src:url('https://cdn.statically.io/gh/brecert/discord-quote-generator/main/Ginto-Nord-800.woff') format("woff");
      }

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
  </style>   
 <style> 
    
  
    
 
        .channel-info-container > img {
  width: 100%;
}
 
   .video-grid > .video {
   background-color: #181818;
border-radius: 8px;
   } 
 
section#landing-page {
    position: fixed;
    width: 100%;
    max-width: 90%;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 999;
   }
 
.content {
           border-radius: 26px;
          padding: 1em;
          margin: auto;
          display: flex;
         justify-content: center;
         align-items: center; 
          position: relative;
         top: -15%;
  flex-direction: column;
         transform: translateY(50%);
}
   
   .content-inner{
     padding: 10px;
     color:#fff;
     position: relative;
     top: -21%;
     transform: translateY(50%);
   }


.heading {
color: #fff;
font-size: xxx-large;
font-family: 'PokeTube flex';
font-stretch: ultra-expanded;
font-weight: 1000;
margin-top: -22.5em;
width: 100px;
text-align: left;
}

.i-cant-find-a-class-name-help-me {
margin-top: -53.3em;
max-width: 39em;
color: white;
background: #333;
padding: 8px;
border-radius: 10px;
   }
 

.product-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 11.5em;
  padding-bottom: 2em;
  overflow: hidden;
}

.btn-explore {
  padding: 20px;
  display: flex;
  font-family: 'PokeTube flex';
  font-stretch: ultra-expanded;
  font-weight: 1000;
  margin-top: 20px !important;
  background-color: #fff;
  border-radius: 6px;
  width: 186px;
  color: #000;
  font-size: 20px;
  text-decoration: unset;
  margin: auto;
    margin-top: auto;
}
 
      .news {
  display: flex;
  justify-content: center;
  background: #111;
  width: 18em;
  margin: auto;
    margin-bottom: auto;
  border-radius: 3em;
  color: white;
  margin-bottom: -10em;
}


@media screen and (max-height: 	643px) {
  .wave {
  margin-bottom: -7em;
  
}
}
   div > * {
     color:#fff
   }
   
p {
  color: #fff !important;
}
   
 .description{
      white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;

  }
   
   
@media screen and (min-height: 768px) {
  .wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: -7em;
  display: block;
}
}
   
   .news > * {
     color:#fff
   }
   
   .news > a {
     display: flex;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.2rem;
 font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
font-weight: 400;
 font-size: 16px;
line-height: 24px;
z-index: 10; /* Was 2 */"
   }
      
      
      
      </style>

       <div class="app background">      
        
     <nav>
             <div class="left">

              <a class="class" href="/143" style="font-family:Inter,sans-serif;color:#fff">  <img style="transform: scale(1.3);width:8.5em;display: block;margin-left: auto;margin-right: auto;" src="/css/logo.svg?v=5"></a>
            </div>          

  
        <div class="middle">
<div class="search">
  
        <form action="/search"><input class="search-bar" autocomplete="on" id="fname" name="query" style="color:#fff;font-family:Inter,sans-serif;border-radius: 2em;" data-ddg-inputtype="identities.firstName">
<button class="btn btn-success" type="submit" style="transform: translate(21em, -1.25em);"><i class="fa-light fa-search"></i></button>             
         </form>
          <img src="https://search-metrics.poketube.fun/t/rep.gif" style="border:0;width: 0;visibility: hidden;"> 

      </div>
       </div>
            <div class="right">
              <a href="/domains"><i style="display: block;margin-left: auto;margin-right: auto;" class="fa-light fa-server"></i>  </a>
              <a href="/privacy"><i class="fa-light fa-shield"></i></a>
              <a href="/video/upload?from="><i class="fa-light fa-video"></i></a> 
              <a href="https://codeberg.org/Ashley/poketube/issues"><i class="fa-light fa-bug"></i></a>
            </div>
     
      </nav>
  
  
 <div class="channel-page">
 

    <div class="content">

  
<div class="content-inner" style="color:#fff;">
        <br>
<h1 class="heading">Poke Privacy Policy</h1>
  <div style="text-align: center;color: #fff;margin-top: 8px;margin-bottom:8px">
       We dont collect or share your personal information! That's our privacy policy TL;DR lol
       </div>
  <a href="https://tosdr.org/en/service/7114">
    <img src="https://shields.tosdr.org/en_7114.svg"/>
</a>
    </div>
       
<div class="description i-cant-find-a-class-name-help-me">
   Poke does not collect or share personal information. Poke is a free software program that you can fork it yourself. you can see the repo <a href="https://codeberg.org/ashley/poke/">here</a>.<br><br> <a href="https://codeberg.org/Ashley/poketube/commits/main/html/priv.ejs">see history of this privacy policy here</a>
  
   <p style="color:#fff;">
          You dont have to read this entire policy as it might put you to sleep. So in TL;DR:We dont collect or share your personal information. thats it lol
                  </p>
 

               <h3 class="hd-md">
              Preamble&nbsp;
               </h3>
                  <p >
                    <i>Please note that im not a lawyer, so dont execpt too much on this policy :P</i>
                  </p>
 <p style="color:#fff">
   Haiii! Welcome to Poke Privacy Policy! We Dont collect or share your information. Ever. When we collect information, we mean, aggregated information (see "Information Collected" section for more info). The main reason that we dont collect your information is we care about your privacy. like alot (like alot alot). see; whynottrack.com<br><br>
 We are free software, meaning you have freedom while using PokeTube. <a href="https://www.gnu.org/philosophy/free-software-even-more-important.html">Learn why you should care about your freedom here</a>. 
<br><br>
<br><br>
P.S:I love you <3
                  </p>     
                  <hr class="hr" />
    <p>START OF PRIVACY POLICY</p>
                  <a class="anchor" name="s1"></a>
               <h3 class="hd-md">
                 We Dont Collect Information that can indentify you
               </h3>
                 <br>
        
(<a href="https://codeberg.org/ashley/poke/src/branch/main/css/data-mobile.js">see source</a>) <br><br>
We use Matomo (https://matomo.org/) to gather and store non-identifying information for statistical purposes. The data collected includes details such as your country (inferred from anonymized IP addresses like 111.xx.xxx.xx), operating system, browser version and name, and screen size. This information helps us understand and improve our services. <br><br>

The above doesn't apply if you have Do Not Track or Global Privacy Control enabled on the browser level. 
                  <hr class="hr" />

                  <hr class="hr" />

<h3 class="hd-md">
                 We dont see the videos you watch
</h3>
<br>
When the Video gets sent to the matomo server, we encrypt it using SHA-256 Signature Algorithm; (<a href="https://codeberg.org/ashley/poke/src/branch/main/css/data-mobile.js#L19-L23">See source</a>) meaning we cant see the videos you watching or things you do. Learn more <a href="https://en.wikipedia.org/wiki/Secure_Hash_Algorithms">About hash Algorithms here.</a><br><br> 

We migth use third party services on Poke, but third party request on Poke is proxied by default. no third party can see wat the hell ru doing on PokeTube. We do this by proxying the requests via a whole diffrent server, so no third party can see you.<br>
                  <hr class="hr" />
  
  
  
 <h3 class="hd-md">
 We don’t track you through cookies
  </h3><br>

 on Poke, no cookies are used by default. (<a href="https://codeberg.org/ashley/poke/src/branch/main/css/data-mobile.js#L79">see source</a>) Poke Doesnt use cookies (See the storage tab yourself!). altho we use local storage to save stuff like themes.
<br>
 
            
 
         <h3 class="hd-md">
        We proxy 3rd party request
  </h3>
                <a class="anchor" name="s4"></a>
any 3rd party domain is proxied by our proxy (p.poketube.fun)

                  </ul>
                     No personal Information is collected by the tools we use.  
                  </p>
                
                 

                      <h3 class="hd-md">
                    Liability
                  </h3>
                              <a class="anchor" name="s5"></a>

                  <p>
                    We take no responsibility for the use of our tool, or external instances provided by third parties. We strongly recommend you abide by the valid official regulations in your country. Furthermore, we refuse liability for any inappropriate use of PokeTube, such as illegal downloading. This tool is provided to you in the spirit of free, libre software.
                  </p>
                  <p>
                    You may view the GPL V3 licence which this software is provided to you <a href="https://www.gnu.org/licenses/gpl-3.0.html">here</a>.
                    
                    a copy of the section is bellow.
                  </p>
                  <blockquote>
<pre class="description">IN NO EVENT UNLESS REQUIRED BY APPLICABLE LAW OR AGREED TO IN WRITING WILL ANY COPYRIGHT HOLDER, OR ANY OTHER PARTY WHO MODIFIES AND/OR CONVEYS THE PROGRAM AS PERMITTED ABOVE, BE LIABLE TO YOU FOR DAMAGES, INCLUDING ANY GENERAL, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OR INABILITY TO USE THE PROGRAM (INCLUDING BUT NOT LIMITED TO LOSS OF DATA OR DATA BEING RENDERED INACCURATE OR LOSSES SUSTAINED BY YOU OR THIRD PARTIES OR A FAILURE OF THE PROGRAM TO OPERATE WITH ANY OTHER PROGRAMS), EVEN IF SUCH HOLDER OR OTHER PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</pre>
</blockquote>
                                <p>END OF PRIVACY POLICY</p>
                                 <hr class="hr" />
      <p>This is the end of our privacy policy (so helpful ik)</p>
                     
                               
              <h2 class="hd-lg">Other Cool Stuff</h2>
              <p>
                holly shit these are stuff that are not boring (real)
              </p>
              <hr class="hr" />
          
                        <h3 class="hd-md">
              Other Free YouTube Front-Ends &nbsp;
               </h3>
<p>If you care about privacy and your freedom, you might also want to check out these other YouTube Front-ends that take it seriously by default</p>
<ul>
	<li><a href="https://invidious.io/">Invidious</a> [<a href="https://github.com/iv-org/invidious">Source Code</a>] </li>
  <li><a href="https://tube.kuylar.dev/">LightTube</a> [<a href="https://gitlab.com/kuylar/lighttube">Source Code</a>]</li>
</ul>
                 <p>Each One does things a bit differently in terms of privacy and your freedom. However, none store your personal information by default and they are free software, which make them all pretty safe in our opinion</p>           
                     <h3 class="hd-md">
              License &nbsp;
               </h3>
                  <p>
                    PokeTube is free software, You can fork and modify the source code under the terms of the GNU General Public License Version 3 or later. our source code is <a href="https://codeberg.org/ashley/poketube">Here!</a>
                  </p>
                  <p>
                    see our <a href="/license">license</a> page
                  </p>
              <h3 class="hd-md">
                Feedback &nbsp;
               </h3>
              <p>
                I (<a href="https://ashley0143.xyz">Ashley</a>) am the creator of Poketube and personally wrote this privacy policy. If you have any questions or concerns, please submit feedback on codeberg :3
              </p>
      
                <h3 class="hd-md">
                  Policy License 
      </h3>
        
  <p style="font-family:Monospace;font-size:medium;color:#fff">
     POKETUBE POLICY LICENSE INFO<br>
     ===================================<br><br>


     Copyright (C) 2021-2023 POKETUBE <br><br>

     
     This policy is licensed under the Creative Commons Attribution-ShareAlike 4.0 International License. To view a copy of this license, visit http://creativecommons.org/licenses/by-sa/4.0/<br><br>

      ===================================

                  </p>
                  <h3 class="hd-md">
                Ty!  &lt;3 &nbsp;
               </h3>
                <p>
                Thank you qt for reading this privacy policy, <a style="color:#fff" href="/143">ILY</a>&lt;3 
                  </p>
            
   </div>
   </div>

 
 

</div></div></section></body></html>

 <% } %>

        <% if (isMobile) { %> 
            <!--
    This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-2023 POKETUBE (https://codeberg.org/Ashley/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
-->
<!DOCTYPE html><head>
    <title>Poketube - Legal mumbo jumbo</title>
      <link rel="stylesheet" href="/css/pv.main.css?v=5444" type="text/css" />
     <link href=/css/app.main.css?v=44600 rel=stylesheet>
   <link href=https://poketube.fun/css/yt-ukraine.svg rel=icon>
    <meta content=website property=og:type>
    <meta content="PokeTube - Legal thingy to put you into sleep" property=og:title>
    <meta content="This is the PokeTube Privacy Policy meta description. Wow, helpful meta description PokeTube. Thanks!" property=twitter:description>
          <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta content="https://cdn.glitch.global/43b6691a-c8db-41d4-921c-8cf6aa0d9108/17a7fa1d-cdf9-4b73-9686-21e62c7fb285.image.png?v=1667739586452" property=og:image>
  <meta content=summary_large_image name=twitter:card>
     <meta content="#1a1a1a" name="theme-color">
  <link href="https://fonts.poketube.fun/css/fonts.css" rel=stylesheet>

 <style>
   @font-face {
font-family: 'Ginto Nord';
font-weight: 800;
src:url('https://p.poketube.fun/https://cdn.statically.io/gh/brecert/discord-quote-generator/main/Ginto-Nord-800.woff') format("woff");
      }
   
   h3, h2 {
     font-family: 'Ginto Nord';

   }
             :visited { color: #00c0ff }
     
a{
  color:#0ab7f0;
</style>
</head>
  <body id="pg-privacy" class="page-privacy">
 
 
    <div class="site-wrapper site-wrapper--static js-site-wrapper">
 
        <div class="header-wrap--hero js-header-wrap">
        
         </div>

       </header>

      <div id="content_wrapper" class="content-wrap">
        <div class="blk blk--hero">
          <div class="cw--c">
            <a class="anchor" name="top"></a>
            <div class="logo--dax" title="PokeTube"></div>
            <div class="blk__text blk__text--hero-privacy js-privacy-hero">
              <h1 class="hd-hr">
 We dont collect or share your personal information!</h1>                         <h5 class="hd-hr"> That's our privacy policy TL;DR lol</h5>
  
   
             </div>
          </div>
        </div>
        <div class="blk blk--alt blk--content">
          <div class="cw--c">
            <div class="blk__text">
             
              <p>
                <b
                  > <p>Poketube does not collect or share personal information. poketube is a free software program that you can fork it yourself. you can see the repo <a href="https://codeberg.org/ashley/poketube/">here</a>.<br><br> <a href="https://codeberg.org/Ashley/poketube/commits/main/html/priv.ejs">see history of this privacy policy here</a></p>
                  
        <p>
          You dont have to read this entire policy as it might put you to sleep. So in TL;DR:We dont collect or share your personal information. thats it lol
                  </p>  
                        <h3 class="hd-md">
              Preamble&nbsp;
               </h3>
                  <p >
                    <i>Please note that im not a lawyer, so dont execpt too much on this policy :P</i>
                  </p>
 <p style="color:#fff">
   Haiii! Welcome to PokeTubes Privacy Policy! We Dont collect or share your information. Ever. When we collect information, we mean, aggregated information (see "Information Collected" section for more info). The main reason that we dont collect your information is we care about your privacy. like alot (like alot alot). see; whynottrack.com<br><br>
 We are free software, meaning you have freedom while using PokeTube. <a href="https://www.gnu.org/philosophy/free-software-even-more-important.html">Learn why you should care about your freedom here</a>. 
<br><br>
We dont use javascript on the front-end of PokeTube. Meaning that you can use PokeTube With no javascript add-ons. <a href="https://www.gnu.org/philosophy/javascript-trap.html">Learn Why here.</a>
<br><br>
P.S:I love you <3
                  </p>     
                  <hr class="hr" />
    <p>START OF PRIVACY POLICY</p>
                  <a class="anchor" name="s1"></a>
               <h3 class="hd-md">
                 We dont collect your personal information
               </h3>
                 <br>
          
          
we dont collect your personal information or share it. We dont collect your IP address. Your device metadata (e.g. device resolution, OS etc.) is not collected in anyway.  <br>

<h3 class="hd-md">
                 We dont see the videos you watch
</h3>
<br>
Our servers are secured with SHA-384 Signature Algorithm; meaning we cant see the videos you watching, things you search, or things you do. Learn more <a href="https://en.wikipedia.org/wiki/Secure_Hash_Algorithms">About hash Algorithms here.</a><br><br> 

We migth use third party services on PokeTube, but third party request on PokeTube is proxied by default. no third party can see wat the hell ru doing on PokeTube. We do this by proxying the requests via a whole diffrent server, so no third party can see you.<br>
  
 <h3 class="hd-md">
                 We dont see the videos you watch
</h3>
<br>
    When you watch a video at PokeTube, we don't know who you are and there is no way to tie the things you are watching.
When you access a website, your Web browser automatically sends information about your computer. (e.g. your User agent and IP address.)<br><br>

Because this information could be used to link you to your peronsal information, we do not log (store) it at all. This is a very unusual practice, but we feel it is an important step to protect your privacy.

It is unusual for a reason. most server software auto-stores this information, so you have to go out of your way not to store it. 
<br>
  
 <h3 class="hd-md">
 We don’t track you through cookies
  </h3><br>

 on PokeTube, no cookies are used by default.  PokeTube Doesnt use cookies (See the storage tab yourself!). altho we use local storage to save stuff like themes.
<br>
  
  <h3 class="hd-md">
    We only collect your email if you want us to
  </h3><br>
if you Subscribe to updates on <a href="//status.poketube.fun">PokeTube status site</a>, we may be store your email to send you email notifications whenever we create, update or resolve an incident. you can also use a alias adress such as <a href="https://duckduckgo.com/email/">Private Duck Address</a> to keep your email identity hidden <br>
   
                <h3 class="hd-md">
        We improve poketube by using anonymous methods
  </h3><br>

               We use a tool called Piwik (A free software Web analytics system, see piwik.org) to collect information. By information we mean, aggregated data about things such as the number of visits daily/weekly/monthly to PokeTube. <br><br>  This data can't be used to identify you or your device or to learn anything about you individually. This Information thats being collected is anonymous and only analyzed in aggregate. It will never identify you or your machine.<br><br>  
  This Process does not use cookies in any way. If you want to opt out (for some reason, we still dont know why lol), Click the "Opt out Of Metrics" Button on the bottom rigth side of the player. No data that identifies you or that can be linked to you as an individual is collected on poketube.</p><p>We Also save searches, but again, not in a personally identifiable way, as we do not store IP addresses or unique User agent strings. We use aggregate, non-personal search data.<br>
      
 
 
         <h3 class="hd-md">
        We proxy 3rd party request
  </h3>
                <a class="anchor" name="s4"></a>
any 3rd party domain is proxied by our proxy (p.poketube.fun)

                  </ul>
                     No personal Information is collected by the tools we use.  
                  </p>
                
                 

                      <h3 class="hd-md">
                    Liability
                  </h3>
                              <a class="anchor" name="s5"></a>

                  <p>
                    We take no responsibility for the use of our tool, or external instances provided by third parties. We strongly recommend you abide by the valid official regulations in your country. Furthermore, we refuse liability for any inappropriate use of PokeTube, such as illegal downloading. This tool is provided to you in the spirit of free, libre software.
                  </p>
                  <p>
                    You may view the GPL V3 licence which this software is provided to you <a href="https://www.gnu.org/licenses/gpl-3.0.html">here</a>.
                    
                    a copy of the section is bellow.
                  </p>
                  <blockquote>
<pre class="description">IN NO EVENT UNLESS REQUIRED BY APPLICABLE LAW OR AGREED TO IN WRITING WILL ANY COPYRIGHT HOLDER, OR ANY OTHER PARTY WHO MODIFIES AND/OR CONVEYS THE PROGRAM AS PERMITTED ABOVE, BE LIABLE TO YOU FOR DAMAGES, INCLUDING ANY GENERAL, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OR INABILITY TO USE THE PROGRAM (INCLUDING BUT NOT LIMITED TO LOSS OF DATA OR DATA BEING RENDERED INACCURATE OR LOSSES SUSTAINED BY YOU OR THIRD PARTIES OR A FAILURE OF THE PROGRAM TO OPERATE WITH ANY OTHER PROGRAMS), EVEN IF SUCH HOLDER OR OTHER PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</pre>
</blockquote>
                                <p>END OF PRIVACY POLICY</p>
                                 <hr class="hr" />
      <p>This is the end of our privacy policy (so helpful ik)</p>
                     
                               
              <h2 class="hd-lg">Other Cool Stuff</h2>
              <p>
                holly shit these are stuff that are not boring (real)
              </p>
              <hr class="hr" />
          
                        <h3 class="hd-md">
              Other Free YouTube Front-Ends &nbsp;
               </h3>
<p>If you care about privacy and your freedom, you might also want to check out these other YouTube Front-ends that take it seriously by default</p>
<ul>
	<li><a href="https://invidious.io/">Invidious</a> [<a href="https://github.com/iv-org/invidious">Source Code</a>] </li>
  <li><a href="https://tube.kuylar.dev/">LightTube</a> [<a href="https://gitlab.com/kuylar/lighttube">Source Code</a>]</li>
  <li><a href="https://codeberg.org/lime360/yt-2005-watch">yt-2005-watch</a>, as well as it's sibling: <a href="https://codeberg.org/lime360/plaintube">plaintube/3gpipe</a></li>
</ul>
                 <p>Each One does things a bit differently in terms of privacy and your freedom. However, none store your personal information by default and they are free software, which make them all pretty safe in our opinion</p>           
                     <h3 class="hd-md">
              License &nbsp;
               </h3>
                  <p>
                    PokeTube is free software, You can fork and modify the source code under the terms of the GNU General Public License Version 3 or later. our source code is <a href="https://codeberg.org/ashley/poketube">Here!</a>
                  </p>
                  <p>
                    see our <a href="/license">license</a> page
                  </p>
              <h3 class="hd-md">
                Feedback &nbsp;
               </h3>
              <p>
                I (<a href="https://ashley0143.xyz">Ashley</a>) am the creator of Poketube and personally wrote this privacy policy. If you have any questions or concerns, please submit feedback on codeberg :3
              </p>
      
                <h3 class="hd-md">
                  Policy License 
      </h3>
        
  <p style="font-family:Monospace;font-size:medium;color:#fff">
     POKETUBE POLICY LICENSE INFO<br>
     ===================================<br><br>


     Copyright (C) 2021-2023 POKETUBE <br><br>

     
     This policy is licensed under the Creative Commons Attribution-ShareAlike 4.0 International License. To view a copy of this license, visit http://creativecommons.org/licenses/by-sa/4.0/<br><br>

      ===================================

                  </p>
                  <h3 class="hd-md">
                Ty!  &lt;3 &nbsp;
               </h3>
                <p>
                Thank you qt for reading this privacy policy, <a style="color:#fff" href="/143">ILY</a>&lt;3 
                  </p>
            
               
             </div>
            <!-- .blk__text //-->
          </div>
          <!-- .cw--c //-->
        </div>
        <!-- .blk.blk--alt //-->
 
      </div>
      <!-- content_wrapper //-->
    </div>
    <!-- site-wrapper -->
  </body>
</html>

 <% } %>
  
        