<!--
    This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-2022 POKETUBE CONTRUBUTORS (https://github.com/iamashley0/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
-->
<!DOCTYPE html><head>
    <title>Poketube - Privacy</title>
   <link href=https://poketube.fun/css/yt-ukraine.svg rel=icon>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&amp;display=swap" rel="stylesheet"> 
    <meta content=website property=og:type>
    <meta content="Poketube" property=og:title>
    <meta content="Legal yade yada" property=twitter:description>
    <meta content="https://cdn.glitch.com/ef5d02b7-c958-475a-b82d-d263d37e7ec7/d49811d3-f7ea-4cce-a4ac-1b4e84dceae7.image.png" property=og:image>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Sigmar+One&display=swap" rel=stylesheet>    <meta content=summary_large_image name=twitter:card>
    <meta content=@PoketaleBot name=twitter:site>
    <meta content=@PoketaleBot name=twitter:creator>
  <link href=https://cdn.poketalebot.com/404/v2.css rel=stylesheet>
    <link href=/css/app.main.css rel=stylesheet>
 </head>
<body>
     <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Sigmar+One&display=swap" rel=stylesheet>
    <link href=https://pro.fontawesome.com/releases/v5.15.3/css/all.css rel=stylesheet>
     <nav>
            <div class=left><a class="class" href="https://stopwarukraine.com/" style=font-family:Inter,sans-serif;color:#fff><span><i class="fa-youtube fab" style=color:#fff></i></span><span style="text-decoration:inherit;background:linear-gradient(to right, rgba(255,215,0,1) 50%, rgba(0,87,184,1) 50%);-webkit-text-fill-color:transparent;-webkit-background-clip:text;">PokeTube</span> 🇺🇦 </a></div>
            <div class=middle>
                <form action=/api/search><input class=search-bar id=fname name=query style=color:#fff;font-family:Roboto,sans-serif> <button class="btn btn-success" type=submit><i class="fas fa-search"></i></button></form>
            </div>
 
        </nav>
<center><br><b><h1 style="font-family: 'Inter', sans-serif;text-align: left;">
POKETUBE PRIVACY POLICY
  </h1>
  <p style="text-align: left;">
    <a href="https://github.com/iamashley0/poketube/blob/main/html/priv.ejs">see history (last update 20.03.2022)</a>  </p>
  <p style="font-family: 'Inter', sans-serif;text-align: left;">
    Poketube doesnt collect or sell your information,ever. Poketube doesnt use cookies in any way.youtube can not see the videos your wathching,nor we can see them.
<br>poketube is a fully open source project hosted on <a href="https://glitch.com">glitch.com</a>. you can see the source code,here:https://git.poketalebot.org<br>
  </p><p style="font-family: 'Inter', sans-serif;text-align: left;">
    Poketube uses LigthTubes API (https://gitlab.com/kuylar/lighttube/) to fetch youtube videos,kuylar (LigthTube maiterner) can not see the video your watching. if you somehow thing we track your info or somethign,poketube works whitout <b style="color:blue">Javascript.</b> so you can run on older browsers (if they have https support,of course. you can try http://poketube.glitch.me whitout https.)</p>
<p style="font-family: 'Inter', sans-serif;text-align: left;">
    We also use https://returnyoutubedislike.com/ to get dislikes for a youtube video. and yes,they still cant see which video you are watching. poketube is non profit,and its not made for earning money.
  </b></p>
<p style="font-family: 'Inter', sans-serif;text-align: left;">
TL;DR:We do not sell your data. We do not use third party trackers/cookies for the use of this site. We do not track you lol
  </p>
  <style>table, th, td {
  border:1px solid black;
  color:#fff
}</style></center></b></body>
