    <!--
    This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-2022 POKETUBE (https://github.com/iamashley0/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
-->
<!DOCTYPE html><head>
    <title>Poketube - Legal mumbo jumbo</title>
      <link rel="stylesheet" href="/css/pv.css?v=5444" type="text/css" />
     <link href=/css/app.main.css rel=stylesheet>
   <link href=https://poketube.fun/css/yt-ukraine.svg rel=icon>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&amp;display=swap" rel="stylesheet"> 
    <meta content=website property=og:type>
    <meta content="Poketube Legal Mumbo jumbo" property=og:title>
    <meta content="TL;DR:We don’t track you. Nothing, zero, zilch." property=twitter:description>
    <meta content="https://cdn.glitch.com/ef5d02b7-c958-475a-b82d-d263d37e7ec7/poketubeprivacypolicy.png" property=og:image>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Sigmar+One&display=swap" rel=stylesheet>    
  <meta content=summary_large_image name=twitter:card>
 
</head>
  <body id="pg-privacy" class="page-privacy">
 
 
    <div class="site-wrapper site-wrapper--static js-site-wrapper">
 
        <div class="header-wrap--hero js-header-wrap">
        
         </div>

       </header>

      <div id="content_wrapper" class="content-wrap">
        <div class="blk blk--hero">
          <div class="cw--c">
            <a class="anchor" name="top"></a>
            <div class="logo--dax" title="PokeTube"></div>
            <div class="blk__text blk__text--hero-privacy js-privacy-hero">
              <h1 class="hd-hr">
 We dont collect or share your personal information!</h1>                         <h5 class="hd-hr"> That's our privacy policy TL;DR lol</h5>
  
   
             </div>
          </div>
        </div>
        <div class="blk blk--alt blk--content">
          <div class="cw--c">
            <div class="blk__text">
              <p>
                <b
                  > <p>Poketube does not collect or share personal information. poketube is a free software program that you can fork it yourself. you can see the repo <a href="https://github.com/iamashley0/poketube/">here</a>.<br><br> <a href="https://github.com/iamashley0/poketube/commits/main/html/priv.ejs">see history of this privacy policy here</a></p>
                  
        <p>
          You dont have to read this entire policy as it might put you to sleep. So in TL;DR:We dont collect or share your personal information. thats it lol
                  </p> 
               <h2 class="hd-lg">The Boring Part</h2>      
                      <a href="https://iamashley.xyz/poketube-legal.txt">See this in plain text :3</a>

                  <hr class="hr" />
               <h3 class="hd-md">
              Preamble&nbsp;
               </h3>
                  <p>
                    <i>Please note that im not a lawyer, so dont execpt too much on this policy :P</i>
                  </p>
 <p>
   Haiii! Welcome to PokeTubes Privacy Policy! We Dont collect or share your information. Ever. When we collect information, we mean, aggregated information (see "Information Collected" section for more info). The main reason that we dont collect your information is we care about your privacy. like alot (like alot alot). DuckDuckGo's privacy policy explains more in depth why you should care about your privacy. see duckduckgo.com/privacy. <br><br>
  
We are free software, meaning you have freedom while using PokeTube. <a href="https://www.gnu.org/philosophy/free-software-even-more-important.html">Learn why you should care about your freedom here</a>. 
<br><br>
We dont use javascript on the front-end of PokeTube. Meaning that you can use PokeTube With no javascript add-ons. <a href="https://www.gnu.org/philosophy/javascript-trap.html">Learn Why here.</a>
<br><br>
P.S:I love you <3
                  </p>     
                  <hr class="hr" />
                 <p>START OF PRIVACY POLICY</p>
               <h3 class="hd-md">
                Information Not Collected &nbsp;
               </h3>
 
              <p>
            When you watch a video at PokeTube, we don't know who you are and there is no way to tie the things you are watching.
When you access a website, your Web browser automatically sends information about your computer. (e.g. your User agent and IP address.)<br><br>

Because this information could be used to link you to your peronsal information, we do not log (store) it at all. This is a very unusual practice, but we feel it is an important step to protect your privacy.

It is unusual for a reason. most server software auto-stores this information, so you have to go out of your way not to store it. At PokeTube, no cookies are used by default.<br><br>
          
At PokeTube,we dont collect your personal information or share it. We dont collect your IP address. Your device metadata (e.g. device resolution,OS Info etc.) is not collected in anyway. <br><br>
                
Our servers are secured with SHA-384 Signature Algorithm; meaning we cant see the videos you watching, things you search, or things you do. Learn more <a href="https://en.wikipedia.org/wiki/Secure_Hash_Algorithms">About hash Algorithms here.</a>  </p>

               <h3 class="hd-md">
                Information Collected &nbsp;
               </h3>

               <p>We use a tool called Piwik (A free software Web analytics system,see piwik.org) to collect information. By information we mean, aggregated data about things such as the number of visits daily/weekly/monthly to PokeTube. This data can't be used to identify you or your device or to learn anything about you individually. This Information thats being collected is anonymous and only analyzed in aggregate. It will never identify you or your machine. This Process does not use cookies in any way. If you dont want this (for some reason), Click the "Opt out Of Metrics" Button on the rigth side of the player. <br><br> We also save searches, but again, not in a personally identifiable way, as we do not store IP addresses or unique User agent strings. We use aggregate, non-personal search data.</p>
         <h3 class="hd-md">
                 Tools we use &nbsp;
               </h3>
<p>
  We use ReturnYoutubeDislike's api to get dislike information. your ip adress is not collected.<br></p>
<p>We use LightTube's api to get ;</p>
             <ul>
	<li>- Video information </li>
	<li>- Recomended videos </li>
	<li>- Channel information</li>
                  </ul>
                  <p>
                    No personal Information is collected by the tools we use.   
                  </p>
                
                     <h3 class="hd-md">
                Information Shared &nbsp;
               </h3>
        
                <p>
              We Dont share your personal information duh :P
                  </p>

                      <h3 class="hd-md">
                    Liability
                  </h3>
                  <p>
                    We take no responsibility for the use of our tool, or external instances provided by third parties. We strongly recommend you abide by the valid official regulations in your country. Furthermore, we refuse liability for any inappropriate use of PokeTube, such as illegal downloading. This tool is provided to you in the spirit of free, libre software.
                  </p>
                  <p>
                    You may view the GPL V3 licence which this software is provided to you <a href="https://www.gnu.org/licenses/gpl-3.0.html">here</a>.
                  </p>
                  <blockquote>
                    <pre>
IN NO EVENT UNLESS REQUIRED BY APPLICABLE LAW OR AGREED TO IN WRITING WILL ANY COPYRIGHT HOLDER, OR ANY OTHER PARTY WHO MODIFIES AND/OR CONVEYS THE PROGRAM AS PERMITTED ABOVE, BE LIABLE TO YOU FOR DAMAGES, INCLUDING ANY GENERAL, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OR INABILITY TO USE THE PROGRAM (INCLUDING BUT NOT LIMITED TO LOSS OF DATA OR DATA BEING RENDERED INACCURATE OR LOSSES SUSTAINED BY YOU OR THIRD PARTIES OR A FAILURE OF THE PROGRAM TO OPERATE WITH ANY OTHER PROGRAMS), EVEN IF SUCH HOLDER OR OTHER PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</pre>
</blockquote>
                                <p>END OF PRIVACY POLICY</p>
                                 <hr class="hr" />
      <p>This is the end of our privacy policy. You can check other cool stuff bellow.</p>
                     
                               
              <h2 class="hd-lg">Other Cool Stuff</h2>
              <hr class="hr" />
          
                        <h3 class="hd-md">
              Other Free YouTube Front-Ends &nbsp;
               </h3>
<p>If you care about privacy and your freedom, you might also want to check out these other YouTube Front-ends that take it seriously by default.</p>
<ul>
	<li><a href="https://invidious.io/">Invidious</a> [<a href="https://github.com/iv-org/invidious">Source Code</a>] </li>
  <li><a href="https://tube.kuylar.dev/">LightTube</a> [<a href="https://gitlab.com/kuylar/lighttube">Source Code</a>]</li>
</ul>
                 <p>Each One does things a bit differently in terms of privacy and your freedom. However, none store your personal information by default and they are free software, which make them all pretty safe in our opinion.</p>           
                     <h3 class="hd-md">
              License &nbsp;
               </h3>
                  <p>
                    PokeTube is free software, You can fork and modify the source code under the terms of the GNU General Public License Version 3 or later. our source code is <a href="https://github.com/poketube-org/poketube">Here!</a>
                  </p>
                  <p>
                    see our <a href="/license">license</a> page.
                  </p>
              <h3 class="hd-md">
                Feedback &nbsp;
               </h3>
              <p>
                I (<a href="https://iamashley.xyz">Ashley</a>) am the founder of Poketube and personally wrote this privacy policy. If you have any questions or concerns, please submit feedback on github. 
              </p>
                  <h3 class="hd-md">
                Ty!  &lt;3 &nbsp;
               </h3>
                <p>
                Thank you cuite for reading this privacy policy,i love you &lt;3 
                  </p>
                    <h3 class="hd-md">
                 Policy license &nbsp;
               </h3>
                  <p>
                 This policy is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
                  </p>
             </div>
            <!-- .blk__text //-->
          </div>
          <!-- .cw--c //-->
        </div>
        <!-- .blk.blk--alt //-->
 
      </div>
      <!-- content_wrapper //-->
    </div>
    <!-- site-wrapper -->
  </body>
</html>
