  <!--
    This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-2023 POKETUBE (https://github.com/iamashley0/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
-->
<!DOCTYPE html><head>
    <title>Poketube - Legal mumbo jumbo</title>
      <link rel="stylesheet" href="/css/pv.main.css?v=5444" type="text/css" />
     <link href=/css/app.main.css rel=stylesheet>
   <link href=https://poketube.fun/css/yt-ukraine.svg rel=icon>
    <meta content=website property=og:type>
    <meta content="PokeTube - Legal thingy to put you into sleep" property=og:title>
    <meta content="This is the PokeTube Privacy Policy meta description. Wow, helpful meta description PokeTube. Thanks!" property=twitter:description>
    <meta content="https://cdn.glitch.global/43b6691a-c8db-41d4-921c-8cf6aa0d9108/17a7fa1d-cdf9-4b73-9686-21e62c7fb285.image.png?v=1667739586452" property=og:image>
  <meta content=summary_large_image name=twitter:card>
     <meta content="#1a1a1a" name="theme-color">
  <link href="https://fonts.poketube.fun/css/fonts.css" rel=stylesheet>

 <style>
   @font-face {
font-family: 'Ginto Nord';
font-weight: 800;
src:url('https://p.poketube.fun/https://cdn.statically.io/gh/brecert/discord-quote-generator/main/Ginto-Nord-800.woff') format("woff");
      }
   
   h3, h2 {
     font-family: 'Ginto Nord';

   }
             :visited { color: #00c0ff }
     
a{
  color:#0ab7f0;
</style>
</head>
  <body id="pg-privacy" class="page-privacy">
 
 
    <div class="site-wrapper site-wrapper--static js-site-wrapper">
 
        <div class="header-wrap--hero js-header-wrap">
        
         </div>

       </header>

      <div id="content_wrapper" class="content-wrap">
        <div class="blk blk--hero">
          <div class="cw--c">
            <a class="anchor" name="top"></a>
            <div class="logo--dax" title="PokeTube"></div>
            <div class="blk__text blk__text--hero-privacy js-privacy-hero">
              <h1 class="hd-hr">
Lorem ipsum dolor sit amet, consectetur adipiscing elit
              </h1>                         <h5 class="hd-hr">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
  
   
             </div>
          </div>
        </div>
        <div class="blk blk--alt blk--content">
          <div class="cw--c">
            <div class="blk__text">
             
              <p>
                <b
                  > <p>set up the privacy policy please!!!!!!! poketube is a free software program that you can fork it yourself. you can see the repo <a href="https://codeberg.org/ashley/poketube/">here</a>.<br><br> <a href="https://github.com/iamashley0/poketube/commits/main/html/priv.ejs">see history of this privacy policy here</a></p>
                  
        <p>
                   </p>  
                  <ul>
                    <h3> SECTIONS </h3>
  <li><a href="#s0">Lorem ipsum dolor sit amet</a></li>

  <li><a href="#s1">Lorem ipsum dolor sit amet</a></li>
                     
	<li><a href="#s2">Lorem ipsum dolor sit amet </a></li>
                    
  <li><a href="#s3">Lorem ipsum dolor sit amet</a></li>
  
  <li><a href="#s4">Lorem ipsum dolor sit amet</a></li>
                    
     <li><a href="#s5">Lorem ipsum dolor sit amet</a></li>
 
  </ul>

               <h2 class="hd-lg">The Boring Part</h2>      
                  <p>BORINGG SHUT UP NERD</p>
                  <hr class="hr" />
             <a class="anchor" name="s0"></a>
   <p style="font-family:Monospace;font-size:medium;">
     POKETUBE POLICY LICENSE INFO<br>
     ===================================<br><br>


     Copyright (C) 2021-2023 POKETUBE <br><br>

     
     This policy is licensed under the Creative Commons Attribution-ShareAlike 4.0 International License. To view a copy of this license, visit http://creativecommons.org/licenses/by-sa/4.0/<br><br>

      ===================================

                  </p>
              
                  <hr class="hr" />
                 <p>START OF PRIVACY POLICY</p>
                  <a class="anchor" name="s1"></a>
               <h3 class="hd-md">
                Lorem ipsum &nbsp;
               </h3>
 
              <p>
              Please set up the privacy policy via priv-custom.ejs
                
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.              
                  </p>
<a class="anchor" name="s2"></a>
               <h3 class="hd-md">
                    Lorem ipsum &nbsp;
               </h3>
               <p>
              Please set up the privacy policy via priv-custom.ejs
                
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.              
                  </p>
                  
                       <h3 class="hd-md">
                    Lorem ipsum &nbsp;
               </h3>
                                                      <a class="anchor" name="s3"></a>
        
                       <p>
              Please set up the privacy policy via priv-custom.ejs
                
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.              
                  </p>
 
         <h3 class="hd-md">
                 Tools we use &nbsp;
               </h3>
                <a class="anchor" name="s4"></a>

<p>
  <i>Any requests being made to these tools are being proxied by poketubes proxy</i><br><br>
  
  We use ReturnYoutubeDislike's api to get dislike information.<br></p>
                  
                                    <p>
We use Apples Itunes Service to get song info. we do not send any unique identifiers such as IP addresses to Apple, and you are still anonymous.
                  </p>
<p>We use LightTube's api to get ;</p>
             <ul>
	<li>- Video information </li>
	<li>- Recomended videos </li>
	<li>- Channel information</li>
                  </ul>
                     No personal Information is collected by the tools we use.  
                  </p>
                
                 

                      <h3 class="hd-md">
                    Liability
                  </h3>
                              <a class="anchor" name="s5"></a>

                  <p>
                    We take no responsibility for the use of our tool, or external instances provided by third parties. We strongly recommend you abide by the valid official regulations in your country. Furthermore, we refuse liability for any inappropriate use of PokeTube, such as illegal downloading. This tool is provided to you in the spirit of free, libre software.
                  </p>
                  <p>
                    You may view the GPL V3 licence which this software is provided to you <a href="https://www.gnu.org/licenses/gpl-3.0.html">here</a>.
                    
                    a copy of the section is bellow.
                  </p>
                  <blockquote>
                    <pre>
IN NO EVENT UNLESS REQUIRED BY APPLICABLE LAW OR AGREED TO IN WRITING WILL ANY COPYRIGHT HOLDER, OR ANY OTHER PARTY WHO MODIFIES AND/OR CONVEYS THE PROGRAM AS PERMITTED ABOVE, BE LIABLE TO YOU FOR DAMAGES, INCLUDING ANY GENERAL, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OR INABILITY TO USE THE PROGRAM (INCLUDING BUT NOT LIMITED TO LOSS OF DATA OR DATA BEING RENDERED INACCURATE OR LOSSES SUSTAINED BY YOU OR THIRD PARTIES OR A FAILURE OF THE PROGRAM TO OPERATE WITH ANY OTHER PROGRAMS), EVEN IF SUCH HOLDER OR OTHER PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</pre>
</blockquote>
                                <p>END OF PRIVACY POLICY</p>
                                 <hr class="hr" />
      <p>This is the end of our privacy policy (so helpful ik)</p>
                     
                               
              <h2 class="hd-lg">Other Cool Stuff</h2>
              <p>
                holly shit these are stuff that are not boring (real)
              </p>
              <hr class="hr" />
          
                        <h3 class="hd-md">
              Other Free YouTube Front-Ends &nbsp;
               </h3>
<p>If you care about privacy and your freedom, you might also want to check out these other YouTube Front-ends that take it seriously by default</p>
<ul>
	<li><a href="https://invidious.io/">Invidious</a> [<a href="https://github.com/iv-org/invidious">Source Code</a>] </li>
  <li><a href="https://tube.kuylar.dev/">LightTube</a> [<a href="https://gitlab.com/kuylar/lighttube">Source Code</a>]</li>
</ul>
                 <p>Each One does things a bit differently in terms of privacy and your freedom. However, none store your personal information by default and they are free software, which make them all pretty safe in our opinion</p>           
                     <h3 class="hd-md">
              License &nbsp;
               </h3>
                  <p>
                    PokeTube is free software, You can fork and modify the source code under the terms of the GNU General Public License Version 3 or later. our source code is <a href="https://codeberg.org/ashley/poketube">Here!</a>
                  </p>
                  <p>
                    see our <a href="/license">license</a> page
                  </p>
                  <h3 class="hd-md">
                Ty!  &lt;3 &nbsp;
               </h3>
                <p>
                Thank you qt for reading this privacy policy, <a style="color:#fff" href="/143">ILY</a>&lt;3 
                  </p>
            
               
             </div>
            <!-- .blk__text //-->
          </div>
          <!-- .cw--c //-->
        </div>
        <!-- .blk.blk--alt //-->
 
      </div>
      <!-- content_wrapper //-->
    </div>
    <!-- site-wrapper -->
  </body>
</html>
