<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--[if IE 6]><html class="ie6" xmlns="http://www.w3.org/1999/xhtml"><![endif]-->
<!--[if IE 7]><html class="lt-ie8 lt-ie9" xmlns="http://www.w3.org/1999/xhtml"><![endif]-->
<!--[if IE 8]><html class="lt-ie9" xmlns="http://www.w3.org/1999/xhtml"><![endif]-->
<!--[if gt IE 8]><!--><html xmlns="http://www.w3.org/1999/xhtml"><!--<![endif]-->
<head>
  <title>PokeSearch</title>
  <link rel="manifest" href="/manifest.json">
  <link href=/css/yt-ukraine.svg?v=6 rel=icon>
    <link href=https://p.poketube.fun/https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css rel=stylesheet>
    <link rel="stylesheet" href="/css/search-web.main.css">
 </head>

<body class="body--home body--html">
  <div class="header-wrap--home"></div>
  <div id="content_wrapper_homepage" class="content-wrap--home">
  <div id="content_homepage" class="content--home">
    <div class="logo-wrap--home">
      <img src="/css/logo.svg">
    </div>
    <div class="search-wrap--home">
        <form name="x" id="search_form_homepage" class="search" action="/web" method="get">

          <input name="query" autocomplete="off" id="search_form_input_homepage" class="search__input" type="text" autofocus />
           
       <span style="color: #fff;text-align: center;margin-left: 8em;margin-right: auto;">
        You can also use duckduckgo <a href="https://duckduckgo.com/bangs">bangs</a> if you want
      </span>
          
  <button class="btn btn-success" type="submit" style="margin-top: 1em;margin-left: auto;margin-right: 8em;align-self: center;text-align: center;display: flex;flex-direction: column;height: 5em;background: #fff;color: #000;border: none;width: 7em;"><p style="margin-top: auto;margin-bottom: auto;font-weight: 1000;margin-left: 3px;font-stretch: ultra-expanded;font-family:;Poketube flex;">Search Poke</p></button> 





        </form>
  
    </div>
 
 
  </div> <!-- id="content_homepage" -->
  </div> <!-- id="content_wrapper_homepage" -->
</body>
</html>
