<html>
  <head>
     <title> Timeout </title>
    <style>
      * {
        font-family:sans-serif;
      }
      body {
      display: flex;
      background: #111;
      }
      div {
     margin: auto;
display: flex;
flex-flow: column;
align-self: center;
background: #333;
color: #fff;
padding: 1em;
border-radius: 31px;
min-height: 34em;
      }
     </style>
      <meta http-equiv="refresh" content="50">
  </head>
  <body>
    <h1>
      Hey There qt!
    </h1>
    <p>
    poketube just got started, please wait a few seconds so poketube can launch and be fast :3
    </p>
  </body>
</html>