<!--
    This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-2022 POKETUBE CONTRUBUTORS (https://github.com/iamashley0/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
-->
<!DOCTYPE html><html>
<head>
    <title>Poketube - Main Menu</title>
   <link href=https://poketube.fun/css/yt-ukraine.svg rel=icon>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&amp;display=swap" rel="stylesheet"> 
    <meta content=website property=og:type>
    <meta content="Poketube" property=og:title>
    <meta content="Poketube is a open source youtube player. watch youtube videos privately!" property=twitter:description>
    <meta content="https://cdn.glitch.com/ef5d02b7-c958-475a-b82d-d263d37e7ec7/d49811d3-f7ea-4cce-a4ac-1b4e84dceae7.image.png" property=og:image>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <meta content=summary_large_image name=twitter:card>
    <meta content=@PoketaleBot name=twitter:site>
    <meta content=@PoketaleBot name=twitter:creator>
  <link href=https://cdn.poketalebot.com/404/v2.css rel=stylesheet>
    <link href=/css/app.main.css rel=stylesheet>
 </head>
<body>
     <center> 
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Sigmar+One&display=swap" rel=stylesheet>
    <link href=https://pro.fontawesome.com/releases/v5.15.3/css/all.css rel=stylesheet>
    <center>
        <nav>
            <div class=left><a class="class" href="https://stopwarukraine.com/" style=font-family:Inter,sans-serif;color:#fff><span><i class="fa-youtube fab" style=color:#fff></i></span><span style="text-decoration:inherit;background:linear-gradient(to right, rgba(255,215,0,1) 50%, rgba(0,87,184,1) 50%);-webkit-text-fill-color:transparent;-webkit-background-clip:text;">PokeTube</span> 🇺🇦 </a></div>
            <div class=middle>
                <form action=/api/search><input class=search-bar id=fname name=query style=color:#fff;font-family:Roboto,sans-serif> <button class="btn btn-success" type=submit><i class="fas fa-search"></i></button></form>
            </div>
        </nav>
        <section class=youtube-video>
            <div class=screen><br>
              <b>
              <h1 style="color:#fff">Welcome to PokeTube!</h1><br>
<h1 style="color:#fff">Search something from search bar to get started <br> (start by typing "<%-random%>")</h1>
              <p style="color:#fff">
                LightTube <a href="https://gitlab.com/kuylar/lighttube/-/commit/c904647c65c44d0df4ec5baa5590220e098d0311">c904647c</a> - Poketube 2.0.1 (6a7f6f9) - <a href="https://github.com/iamashley0/poketube" style="color:#fff">Source code</a> - <a style="color:#fff;" href="/privacy">Privacy policy</a><br><br>
                <a style="color:blue;" href="/domains">see other domains poketube is on</a>

              </p>
  </b>
                  <script type="text/javascript">
        function AddSearch () {
            if (window.sidebar) {     
                window.sidebar.addSearchEngine ('http://watch.poketalebot.com/search/default.src', 'https://poketalebot.com/youtube/icons/dark.svg', 'Poketube Quick search', null);
            }
        }
 </script>
 
   </body>
              
</html>
   
