<!DOCTYPE html>
<html>
  <head>
    <title>Poketube - Main Menu</title>
    <link rel="icon" href="https://poketalebot.com/youtube/icons/dark.svg">
    <link rel=preconnect href=https://fonts.gstatic.com>
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel=stylesheet>
  </head>
<body>
    <style>body{background-color:#23272A} h1{color:#fff} h2{color:#fff} h3{color:#fff} h4{color:#fff}  p{color:#fff}ohyeah{color:#fff}.jumbotron{background-color:#1f1c1c;margin:50px;padding:15px;margin-bottom:20px}</style>
    <div class="jumbotron" style="justify-content: center;">
<center>
<h1 style="font-family:Sigmar One;font-weight: bold;font-size:100px;">
  POKETUBE
</h1>
  <p>
    Youtube video player that does not track your info
  </p>
<form action="/api/search">
   <input type="text" id="fname" name="query" value="">
 <input type="submit" value="search">
</form> 
      </div>

      </center>
</body>
  </html>
 
